<div class="container">
  <form class="input-group mb-3 p-3" action="/answer" method="get">
    <input type="text" name="question" class="form-control mr-3">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
